<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Terms & Conditions | Oliver Njeru</title>
    <link rel="stylesheet" href="style.css">
</head>
<header>
    <h1>** Terms and Conditions **</h1>
</header>
<body>
        <h2>You are not allowed to use any of these photos for commercial purposes without my explicit permission</h2>
        <h2>You are not allowed to reproduce my photos in any way and form whatsoever without my explicit permission</h2>
        <h2>If you want to purchase any photo of mine in digital form, they averagely go for around $100 per shot and you can reach me on <a href="mailto:onjeru@usiu.ac.ke">onjeru@usiu.ac.ke</a> for purchase</h2>
</body>
</html>