<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Art | Oliver Njeru</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!-- Header -->
    <div class="header">
      <h1>Welcome to My Art Page</h1>
      <p>You can download and use the photos for free under my <a href="art-terms-and-conditions.html">Terms & Conditions</a></p>
    </div>

    <!-- Photo Grid -->
    <div class="row">
      <div class="column">
        <img src="assets/Africa-Hotel.jpg" />
        <img src="assets/Architectural-Digest.jpeg" />
        <img src="assets/Ball in the field.jpg" />
        <img src="assets/Brdige-by-the-ocean2.jpg" />
        <img src="assets/Bridge by the Ocean.jpg" />
        <img src="assets/defense-watch-tower..jpg" />
        <img src="assets/Detailed-floor.jpeg" />
      </div>
      <div class="column">
        <img src="assets/Detailed-floor.jpeg" />
        <img src="assets/Detailed-mall-wall.jpg" />
        <img src="assets/Detailed-Tree-bark.jpeg" />
        <img src="assets/DownTop-Ceiling.jpg" />
        <img src="assets/Fake-restaurant-plants.jpeg" />
        <img src="assets/Imani-Collective.jpeg" />
      </div>
      <div class="column">
        <img src="assets/Mall-Wall.jpg" />
        <img src="assets/Mall-Wall.jpg" />
        <img src="assets/Moon Light.jpg" />
        <img src="assets/Pattern-floor.jpeg" />
        <img src="assets/Patterned-school-walkway.jpeg" />
        <img src="assets/Seedling.jpeg" />
      </div>
      <div class="column">
        <img src="assets/Petrol Station.jpg" />
        <img src="assets/Red-brick-wall.jpeg" />
        <img src="assets/Red-brick-wall.jpg" />
        <img src="assets/Restaurant.jpg" />
        <img src="assets/Vintage-Sgr-Metal.jpeg" />
      </div>
    </div>
  </body>
</html>
