<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blindr | Oliver Njeru</title>

    <link rel="stylesheet" href="style.css" />

    <link
      rel="shortcut icon"
      href="assets/favicon/favicon.ico"
      type="image/x-icon"
    />
  </head>
  <body>
    <section>
      <div class="container">
        <div id="display"></div>
        <div class="buttons">
          <input type="button" id="clear" class="button" value="C" />
          <input type="button" id="divide" class="button" value="/" />
          <input type="button" id="backspace" class="button" value="&larr;" />
          <input type="button" id="multiply" class="button" value="*" />
          <input type="button" id="nine" class="button" value="9" />
          <input type="button" id="eight" class="button" value="8" />
          <input type="button" id="seven" class="button" value="7" />
          <input type="button" id="subtract" class="button" value="-" />
          <input type="button" id="six" class="button" value="6" />
          <input type="button" id="five" class="button" value="5" />
          <input type="button" id="four" class="button" value="4" />
          <input type="button" id="add" class="button" value="+" />
          <input type="button" id="three" class="button" value="3" />
          <input type="button" id="two" class="button" value="2" />
          <input type="button" id="one" class="button" value="1" />
          <input type="button" id="left-bracket" class="button" value="(" />
          <input type="button" id="right-bracket" class="button" value=")" />
          <input type="button" id="zero" class="button" value="0" />
          <input type="button" id="period" class="button" value="." />
          <input type="button" id="equal" class="button" value="=" />
        </div>
      </div>
    </section>

    <audio id="clear-audio" src="assets/audio-files/clear.m4a"></audio>
    <audio id="divide-audio" src="assets/audio-files/divide.m4a"></audio>
    <audio id="backspace-audio" src="assets/audio-files/backspace.m4a"></audio>
    <audio id="multiply-audio" src="assets/audio-files/multiply.m4a"></audio>
    <audio id="nine-audio" src="assets/audio-files/nine.m4a"></audio>
    <audio id="eight-audio" src="assets/audio-files/eight.m4a"></audio>
    <audio id="seven-audio" src="assets/audio-files/seven.m4a"></audio>
    <audio id="subtract-audio" src="assets/audio-files/subtract.m4a"></audio>
    <audio id="six-audio" src="assets/audio-files/six.m4a"></audio>
    <audio id="five-audio" src="assets/audio-files/five.m4a"></audio>
    <audio id="four-audio" src="assets/audio-files/four.m4a"></audio>
    <audio id="add-audio" src="assets/audio-files/add.m4a"></audio>
    <audio id="three-audio" src="assets/audio-files/three.m4a"></audio>
    <audio id="two-audio" src="assets/audio-files/two.m4a"></audio>
    <audio id="one-audio" src="assets/audio-files/one.m4a"></audio>
    <audio
      id="left-bracket-audio"
      src="assets/audio-files/left-bracket.m4a"
    ></audio>
    <audio
      id="right-bracket-audio"
      src="assets/audio-files/right-bracket.m4a"
    ></audio>
    <audio id="zero-audio" src="assets/audio-files/zero.m4a"></audio>
    <audio id="period-audio" src="assets/audio-files/period.m4a"></audio>
    <audio id="equal-audio" src="assets/audio-files/equal.m4a"></audio>

    <!-- Added the defer attribute so that the script loads after the html -->
    <script src="script.js" defer></script>
  </body>
</html>
