<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="main.css" />

    <title>Creative Agency</title>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="logo">Creative Agency</div>

      <div class="toggle"></div>

      <div class="navigation">
        <ul>
          <li><a href="index.html">Home</a></li>
          <!-- Used shift alt down to copy this down -->
          <li><a href="services.html">Services</a></li>
          <li><a href="work.html">Work</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>

        <div class="social-bar">
          <ul>
            <li>
              <a href="https://facebook.com" target="blank">
                <img src="assets/facebook.png" alt="Facebook Logo" />
              </a>
            </li>
            <li>
              <a href="https://twitter.com" target="blank">
                <img src="assets/twitter.png" alt="Twitter Logo" />
              </a>
            </li>
            <li>
              <a href="https://instagram.com" target="blank">
                <img src="assets/instagram.png" alt="Instagram Logo" />
              </a>
            </li>
          </ul>
          <a href="mailto:olivernjiru@gmail.com" class="email-icon">
            <img src="assets/email.png" alt="@ sign" />
          </a>
        </div>
      </div>
    </header>

    <!-- Home Content-->
    <section>
      <div class="title">
        <h1>Services that we can help you with</h1>
        <p>The best in town</p>
      </div>
      <div class="services">
        <div class="service">
          <div class="icon">
            <img src="assets/001.png" alt="" />
          </div>
          <h2>Design</h2>
          The best yet again!
        </div>

        <div class="service">
          <div class="icon">
            <img src="assets/002.png" alt="" />
          </div>
          <h2>Development</h2>
          The best yet again!
        </div>

        <div class="service">
          <div class="icon">
            <img src="assets/003.png" alt="" />
          </div>
          <h2>SEO</h2>
          The best yet again!
        </div>

        <div class="service">
          <div class="icon">
            <img src="assets/004.png" alt="" />
          </div>
          <h2>Marketing</h2>
          The best yet again!
        </div>

        <div class="service">
          <div class="icon">
            <img src="assets/005.png" alt="" />
          </div>
          <h2>App Development</h2>
          The best yet again!
        </div>

        <div class="service">
          <div class="icon">
            <img src="assets/006.png" alt="" />
          </div>
          <h2>Error Fixing</h2>
          The best yet again!
        </div>
      </div>
    </section>

    <script src="main.js"></script>
  </body>
</html>
