<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="main.css" />

    <title>Creative Agency</title>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="logo">Creative Agency</div>

      <div class="toggle"></div>

      <div class="navigation">
        <ul>
          <li><a href="index.html">Home</a></li>
          <!-- Used shift alt down to copy this down -->
          <li><a href="services.html">Services</a></li>
          <li><a href="work.html">Work</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>

        <div class="social-bar">
          <ul>
            <li>
              <a href="https://facebook.com" target="blank">
                <img src="assets/facebook.png" alt="Facebook Logo" />
              </a>
            </li>
            <li>
              <a href="https://twitter.com" target="blank">
                <img src="assets/twitter.png" alt="Twitter Logo" />
              </a>
            </li>
            <li>
              <a href="https://instagram.com" target="blank">
                <img src="assets/instagram.png" alt="Instagram Logo" />
              </a>
            </li>
          </ul>
          <a href="mailto:olivernjiru@gmail.com" class="email-icon">
            <img src="assets/email.png" alt="@ sign" />
          </a>
        </div>
      </div>
    </header>

    <!-- Home Content-->
    <section>
      <div class="title">
        <h1>Contact us</h1>
        <p>The best in town</p>
      </div>

      <div class="contact">
        <div class="contact-form">
          <form>
            <div class="row">
              <div class="input50">
                <input type="text" placeholder="First Name" />
              </div>
              <div class="input50">
                <input type="text" placeholder="Last Name" />
              </div>
            </div>
            <div class="row">
              <div class="input50">
                <input type="text" placeholder="Email" />
              </div>
              <div class="input50">
                <input type="text" placeholder="Subject" />
              </div>
            </div>

            <div class="row">
              <div class="input100">
                <textarea placeholder="Message"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="input100">
                <input type="submit" value="Send" />
              </div>
            </div>
          </form>
        </div>

        <div class="contact-info">
          <div class="info-box">
            <img src="assets/address.png" class="contact-icon" alt="" />
            <div class="details">
              <h4>Address</h4>
              <p>28 Neon Tower, New York City, USA</p>
            </div>
          </div>
          <div class="info-box">
            <img src="assets/email.png" class="contact-icon" alt="" />
            <div class="details">
              <h4>Email</h4>
              <a href="mailto:anyone@gmail.com">anyone@gmail.com</a>
              <a href="mailto:anyone@gmail.com">anyone@gmail.com</a>
            </div>
          </div>
          <div class="info-box">
            <img src="assets/call.png" class="contact-icon" alt="" />
            <div class="details">
              <h4>Call</h4>
              <a href="tel:+1978555555">+1978555555</a>
              <a href="tel:+1978444444">+1978444444</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="main.js"></script>
  </body>
</html>
