<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta https-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Netflix - Watch TV Shows Online, Watch Movies Online</title>

    <link rel="shortcut icon" type="image/x-icon" href="netflixfavicon.ico" />
    <link rel="stylesheet" href="main.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/release/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK10YPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="showcase">
      <div class="showcase-top">
        <img src="assets/netflix_logo.png" alt="Netflix Logo" />
        <a href="#" class="btn btn-rounded">Sign In</a>
      </div>

      <div class="showcase-content">
        <h1>Unlimited movies, TV shows, and more.</h1>
        <h3>Watch anywhere. Cancel anytime.</h3>
        <p>
          Ready to watch? Enter your email to create or restart your membership.
        </p>
        <span>
          <input type="email" placeholder="Email address" />
          <a href="#" class="btn btn-getstarted">Get Started ></a>
        </span>
      </div>
    </header>

    <div class="netflix-grid-container">
      <hr />
      <div class="netflix-grid">
        <div class="left">
          <h1>Enjoy on your TV.</h1>
          <p>
            Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray
            players, and more.
          </p>
        </div>

        <div class="right">
          <div class="tv-video">
            <video src="assets/video-tv-0819.m4v" autoplay loop muted></video>
            <img src="assets/tv.png" alt="" />
          </div>
        </div>
      </div>

      <hr />
      <div class="netflix-grid reversed">
        <div class="left">
          <h1>Download your shows to watch offline.</h1>
          <p>Save your favorites easily and always have something to watch.</p>
        </div>

        <div class="right">
          <img src="assets/mobile-0819.jpg" alt="" />
          <!-- <nav class="gif-container">
							<img src="assets/boxshot.png" alt="">
							<h4>Stranger Things</h4>
							<p>Downloading...</p>
							<img src="assets/download-icon.gif" alt="">
						</nav> -->
        </div>
      </div>

      <hr />
      <div class="netflix-grid">
        <div class="left">
          <h1>Watch everywhere.</h1>
          <p>
            Stream unlimited movies and TV shows on your phone, tablet, laptop,
            and TV.
          </p>
        </div>
      </div>

      <hr />
      <div class="netflix-grid reversed">
        <div class="left">
          <h1>Create profiles for kids.</h1>
          <p>
            Send kids on adventures with their favorite characters in a space
            made just for them—free with your membership.
          </p>
        </div>

        <div class="right">
          <img
            src="assets/AAAABdFTpLmANuJpYneLq8L5m7CunMCi8e8Nl4y7xaPVWzG3IeoDoq17egTQAthApKg_4sdRWdwuR8KadWu1frjL3JQImpwq.png"
            alt=""
          />
        </div>
      </div>

      <hr />
      <div class="netflix-grid">
        <div class="left">
          <h1>Have an Android Phone? Get our new free plan!</h1>
          <p>
            Watch a selection of new movies and TV shows without adding any
            payment details!
          </p>
          <h4>Get the app ></h4>
        </div>

        <div class="right">
          <img src="assets/en.jpg" alt="" />
        </div>
      </div>

      <hr />
      <div class="faq-container">
        <div class="faq">
          <h1>Frequently Asked Questions</h1>
        </div>

        <div class="faq-button">
          <button>
            <h4>What is Netflix?</h4>
            <img src="assets/plus.png" alt="" />
          </button>
          <button>
            <h4>How much does Netflix cost?</h4>
            <img src="assets/plus.png" alt="" />
          </button>
          <button>
            <h4>Where can I watch?</h4>
            <img src="assets/plus.png" alt="" />
          </button>
          <button>
            <h4>How do I cancel?</h4>
            <img src="assets/plus.png" alt="" />
          </button>
          <button>
            <h4>What can I watch on Netflix?</h4>
            <img src="assets/plus.png" alt="" />
          </button>
          <button>
            <h4>Is Netflix good for kids?</h4>
            <img src="assets/plus.png" alt="" />
          </button>
        </div>

        <p>
          Ready to watch? Enter your email to create or restart your membership.
        </p>
        <span>
          <input type="email" placeholder="Email address" />
          <a href="#" class="btn btn-getstarted">Get Started ></a>
        </span>
      </div>

      <hr />
      <footer>
        <p>
          <a href="#">Questions? Contact us.</a>
        </p>
        <table>
          <tr>
            <td>
              <a href="#">FAQ</a>
            </td>
            <td>
              <a href="#">Help Center</a>
            </td>
            <td>
              <a href="#">Account</a>
            </td>
            <td>
              <a href="#">Media Center</a>
            </td>
          </tr>

          <tr>
            <td>
              <a href="#">Investor Relations</a>
            </td>
            <td>
              <a href="#">Jobs</a>
            </td>
            <td>
              <a href="#">Ways to Watch</a>
            </td>
            <td>
              <a href="#">Terms of Use</a>
            </td>
          </tr>

          <tr>
            <td>
              <a href="#">Privacy</a>
            </td>
            <td>
              <a href="#">Cookie Preferences</a>
            </td>
            <td>
              <a href="#">Corporate Information</a>
            </td>
            <td>
              <a href="#">Contact Us</a>
            </td>
          </tr>

          <tr>
            <td>
              <a href="#">Speed Test</a>
            </td>
            <td>
              <a href="#">Legal Notices</a>
            </td>
            <td>
              <a href="#">Only on Netflix</a>
            </td>
            <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>
              <a href="#">Netflix Kenya</a>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </footer>
    </div>
  </body>
</html>
