:root {
  --primary-color: #e50914;
}

/* Reset Point */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #999;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.showcase {
  width: 100%;
  height: 105vh;
  position: relative;
  background: url("assets/KE-en-20211227-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
    no-repeat center center/cover;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  /* The code below creates a black shadowy effect on the background image */
  box-shadow: inset 100px 80px 200px #000000, inset -100px -80px 200px #000000;
}

.showcase-top {
  position: relative;
  height: 90px;
  z-index: 2;
}

.showcase-top img {
  width: 170px;
  position: absolute;
  top: 3%;
  left: 3%;
}

.showcase-top a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.showcase-content {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
  z-index: 2;
}

.showcase-content h1 {
  margin-left: 400px;
  margin-right: 400px;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.1;
  /*margin: 0 0 2rem;*/
}

.showcase-content h3 {
  margin-left: 400px;
  margin-right: 400px;
  font-weight: 100;
  font-size: 1.6rem;
  margin-top: 20px;
  /*line-height: 1.1;*/
  /*margin: 0 0 2rem;*/
}

.showcase-content p {
  color: #fff;
  font-weight: 200;
  font-size: 1.15rem;
  margin-top: 20px;
}

.showcase-content input {
  margin-top: auto;
  font-size: 20px;
  padding: 15px;
  padding-right: 170px;
  /*margin: 0 0 2rem;*/
}

/* Buttons */
.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-lg {
  font-size: 1rem;
  padding: 0.8rem 1.3rem;
  text-transform: uppercase;
}

.btn-getstarted {
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
}

span {
  display: flex;
}

hr {
  padding: 3px;
  background-color: rgb(39, 38, 38);
  border: none;
}

.netflix-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 130px;
  margin-left: 130px;
}

.netflix-grid h1 {
  font-size: 45px;
}

.netflix-grid p {
  font-weight: 100px;
  font-size: 25px;
  color: #fff;
}

.tv-video video {
  max-width: 440px;
  max-height: 100%;
  padding-left: 67px;
  margin-top: 50px;
  z-index: -100000000000000;
}

.tv-video img {
  margin-top: -295px;
  z-index: 1000000000000;
}

.reversed :first-child {
  order: 2;
}

.gif-container {
  justify-content: space-between;
  border: rgb(39, 38, 38) solid 2px;
  border-radius: 10px;
  margin-top: -150px;
  z-index: 1000000000;
}

.gif-container img {
  width: 60px;
}

.faq-container {
  text-align: center;
}

.faq-container p {
  color: #fff;
}

.faq {
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 25px;
}

.faq h1 {
  margin-bottom: 50px;
}

.faq-button button {
  display: flex;
  background-color: rgb(39, 38, 38);
  color: #fff;
  padding: 20px;
  border-style: none;
  margin-bottom: 5px;
  margin-left: 250px;
  margin-bottom: 10px;
}

.faq-button button:hover {
  cursor: pointer;
}

.faq-button button h4 {
  padding-right: 350px;
  padding-left: 20px;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  align-items: center;
}

.faq-button button img {
  max-width: 30px;
  max-height: 30px;
}

.faq-container p {
  margin-top: 75px;
  font-size: 18px;
}

.faq-container span {
  margin-left: 350px;
  margin-bottom: 100px;
}

.faq-container span input {
  margin-top: auto;
  font-size: 20px;
  padding: 15px;
  padding-right: 190px;
  /*margin: 0 0 2rem;*/
}

footer {
  color: #75757575;
  margin-top: 75px;
  margin-bottom: 25px;
}

footer p {
  margin-left: 220px;
}
table {
  margin-top: 25px;
  margin-left: 220px;
}

footer p a {
  color: #75757575;
}

footer p a:hover {
  text-decoration: underline;
}

table tr td {
  font-size: 14px;
  padding-right: 100px;
  padding-bottom: 15px;
}

table tr td a {
  font-size: 14px;
  color: #75757575;
}

table tr td a:hover {
  text-decoration: underline;
}
